/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}


/* ----- CONTENT ----- */

/*------- M A I N -----------*/
main {
    height: calc(100% - 60px);
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

/*------ H E A D E R ---------*/
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: end;
}

/*------- A S I D E ----------*/
aside {
    display: flex;
    height: calc(100% - 60px);
}

/*------- F O O T E R ---------*/
footer {
    height: 60px;
    width: 100%;
}


/* ------- DEBUG --------------- */

.debug footer {
    background-color: blue;
    border: 2px solid red;
}

.debug header {
    background-color: rgba(230, 30, 30, 0.5);

}

.debug aside {
    background-color: green;
}


.debug main {
    background-color: grey;
}


.main-content {
    height: 300vh;
    padding-top: 30px;
}

.debug-responsive {
    display: none;
}

@media screen and (min-width: 800px) {
    .debug-responsive {
        display: initial;
    }
}