/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */


/* ----- CONTENT ----- */


/* ------- DEBUG --------------- */

.web-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.debug footer {
    height: 200px;
    background-color: blue;
    border: 2px solid red;
}

.debug header {
    background-color: rgba(230, 30, 30, 0.5);
}

.debug aside {
    display: flex;
    width: 30px;
    background-color: green;
    height: 100%;
}