/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */


/* ----- CONTENT ----- */


/* ------- DEBUG --------------- */

.web-app {
    display: flex;
    flex-direction: column;
}

.debug footer {
    height: 20%;
    background-color: blue;
    border: 2px solid red;
    flex-grow: 1;
}

.debug header {
    background-color: rgba(230, 30, 30, 0.5);
    text-align: end;
}

.debug aside {
    display: flex;
    width: 30px;
    background-color: green;
    height: 80%;
    /* height (100% - pixel del footer)
    per avere effetto giusto
    quando viene schiacciato in altezza */
}

.debug main {
    width: calc(100% - 30px);
    height: 80%;
    background-color: grey;
    overflow-y: auto;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.main-content {
    height: 300vh;
}