/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: white;
}


/* ----- UTILITY ----- */

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}


/* ----- CONTENT ----- */

/*------- M A I N -----------*/
main {
    height: calc(100% - 60px);
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
    background-color:
        rgb(20 25 34);
}

/*------ H E A D E R ---------*/
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: end;
    background-color:
        rgba(0, 0, 0, 0.5);
    padding: 10px 5px 15px 0;
}

header button {
    background-color:
        rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 35px;
}

header button a {
    color: white;
    text-decoration: none;
}

/*------- A S I D E ----------*/
aside {
    height: calc(100% - 60px);
    /*background-color: black;*/
    background-color: greenyellow;
}

aside img {
    padding: 5px 10px;
    display: inline;
}

/*------- F O O T E R ---------*/
footer {
    height: 60px;
    width: 100%;
    background-color:
        rgb(40 40 40);
}

#footer-container {
    display: flex;
}

#play-music {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-music div {
    width: 150px;
}


/* ------- DEBUG --------------- */

.debug footer #play-music {
    background-color: rgb(14, 5, 8);
}

.debug footer .footer-box {
    background-color: rgb(39, 56, 56);
}


.main-content {
    height: 300vh;
    padding-top: 30px;
}

.debug-responsive {
    display: none;
}


@media screen and (min-width: 800px) {
    .debug-responsive {
        display: inline-block;
    }
}