/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */


/* ----- CONTENT ----- */


/* ------- DEBUG --------------- */

.web-app {
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.debug footer {
    height: 200px;
    background-color: blue;
    border: 2px solid red;
    flex-grow: 1;
}

.debug header {
    background-color: rgba(230, 30, 30, 0.5);
    text-align: end;
}

.debug aside {
    display: flex;
    width: 30px;
    background-color: green;
    height: 100%;
}

.debug main {
    width: calc(100% - 30px);
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}